@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
body{
    background-color: #666666;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 45px;
}
.box{
    width: 340px;
    height: 230px;
    border: none;
    box-shadow: 2px 1px 7px 4px black;
    background-image: linear-gradient(to bottom, #f5f5c3, #bebea4);
    margin: 30px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s linear 0s;
}
span{
    font-weight: 400;
    font-size: 25px;
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box:nth-of-type(2),
.box:nth-of-type(4),
.box:nth-of-type(8){
    background-image: linear-gradient(to bottom, #ccfece, #9eb5a1);
    transform: rotate(8deg);
}
.box:nth-of-type(3),
.box:nth-of-type(6){
    background-image: linear-gradient(to bottom, #cacafa, #8b8c9b);
    transform: rotate(-10deg);
}
.box:nth-of-type(1),
.box:nth-of-type(5),
.box:nth-of-type(7){
    transform: rotate(-5deg);
}
.box:hover{
    transform: rotate(0deg) scale(1.2);
}